.materical-icons{
    vertical-align: middle;
}
.navbar{
    background-color: #0b83e6;
  
 }


 .text-color-white{
     /* color:#ffffff; */
     font-size: 18px;
 }

 body{
     background-position: center;
     background-size: 90%;
 }