.navbar{
    background-color: #0b83e6;
    font-weight: bold;
    color: #000000;
    
 }
 .text{
    color: #000000;
 }

 .header-post{
    margin-left: 600px;

 }

 .material-symbols-sharp {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48;

 }

 

